<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>To Travel is To Live</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body >
<header id="head">
<div id="title">
<marquee behavior="slide"><h1>To Travel is 
to Live </h1></marquee>


</div>

</header>


<boxone id="boxo12">
<h1 id="fontco">英国</h1>
<div id="maintitle">
<a href="aboutus.html">
<img src="../image/tour.png" /></a>

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="places.html">
<img src="../image/country.png" /></a>
&nbsp;&nbsp;&nbsp;


<a href="Route.html">
<img src="../image/routine.png"</a>


&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="Team.html">
<img src="../image/team.png" /></a>

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="Service.html">
<img src="../image/service.png" /></a>
</div>
<div id="aligimg1">
<a href="aboutus.html">&nbsp;&nbsp;&nbsp;Homes</a>

<a href="places.html">&nbsp;&nbsp;&nbsp;Places</a>
 <a href="Route.html">&nbsp;&nbsp;&nbsp;Route</a>
<a href="Team.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Travelers</a>

<a href="Service.html">&nbsp;&nbsp;&nbsp;Service</a>

</div>

<div id="Ussight1">
<img id="usposition" src="../image/ec1.jpg" />
<div id="word">
<p>
&nbsp;&nbsp;&nbsp;&nbsp;大本钟（Big Ben），英国国会会议厅附属的钟楼，伦敦著名的古钟（即威斯敏斯特宫报时钟）。建于1859年。安装在西敏寺桥北议会大厦东侧高95米的钟楼上，钟楼四面的圆形钟盘，直径为6.7米，是伦敦的传统地标。2012年6月26日，英国宣布将把伦敦著名地标“大本钟”的钟楼改名为“伊丽莎白塔”。
2017年8月开始，伦敦著名景点大本钟（Big Ben）进行翻修，维修时间长达4年，预计到2021年大本钟才能再度“发声”。
</p>
</div>
</div>
<div id="Ussight2">
<img id="usposition" src="../image/ep2.jpg" />

<div id="word">
<p>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;伦敦眼（The London Eye），或又称为千禧之轮（Millennium Wheel）是世界上首座、也曾经是世界最大的观景摩天轮，仅次于南昌之星（Nanchang Star Observation Wheel，160m）与新加坡观景轮（Singapore Flyer，165m）。它于1999年年底开幕，总高度135米（443英尺），竖立于伦敦泰晤士河南畔的兰贝斯区，面向坐拥国会大楼与大本钟的西敏市。</p>
</div>
。
</div>
<div id="Ussight3">
<img id="usposition"  src="../image/ep3.jpg" />
<div id="word">
<p>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;泰晤士河(River Thames)是英国著名的"母亲"河。发源于英格兰西南部的科茨沃尔德希尔斯，全长346公里，横贯英国首都伦敦与沿河的10多座城市，流域面积13000平方公里，在伦敦下游河面变宽，形成一个宽度为29公里的河口，注入北海。在伦敦上游，泰晤士河沿岸有许多名胜之地，诸如伊顿、牛津、亨利和温莎等。泰晤士河的入海口充满了英国的繁忙商船，然而其上游的河道则以其静态之美而著称于世。在英国历史上泰晤士河流域占有举足轻重的地位。</p>
</div>

</div>
<div id="Ussight4">
<img id="usposition" src="../image/ep4.jpg" />

<div id="word">
<p>
<br />
伦敦塔桥(英文名:Tower Bridge)，伦敦塔桥是从英国伦敦泰晤士河口算起的第一座桥(泰晤士河上共建桥15座)，也是伦敦的象征，有"伦敦正门"之称。该桥始建于1886年，1894年6月30日对公众开放，将伦敦南北区连接成整体。
塔桥的建造是因为跨泰晤士河交通的发展已远远超过现有桥梁的能力。到了1870年情况变得相当严重，在1874年至1885年间，民众通过各公共机构请愿约三十次督促当局要么扩宽伦敦桥或建一座新的。1882年8月期间采取的一个耗时两日的全民普查表明，伦敦桥24小时内平均通过的流量(在当时这只有54英尺宽)为22242部车辆和110525名行人。
</p>
</div>
</div>
</boxone>



<div style="clear:both"></div>



<footer id="foot">
<div id="borderline">
<div id="logo">
<h3>THANKS FOR VISITING US</h3>
</div>


<div id="logo1">
<h3>&nbsp;&nbsp;Contact Us</h3>
</div>

<div id="logo2"
<h3>&nbsp;&nbsp;Support Us</h3>
</div>
<div class="foottext">
<p>摘要观光旅游是旅游最基本的活动内容。比如看名胜古迹、文化遗迹、城市美景和风俗。游客观光可以改变环境，拓宽视野，欣赏自然之美，自然享受现代都市生活的情趣，满足不同购物的需求，在许多方面和目的上都是如此。欢迎大家来到这里。</p>
</div>

<div class="log1image">

</div>


<div class="log1">
<p> 77 Jack Street

   Chicago, USA></p>
</div>


<div class="log2image"></div>

<div class="log2">
<p>+13333333333

   +15666666666</p>
</div>
<div class="log3image"></div>
<div class="log3">
<p> Liming@qq.com

   Limingg@qq.com</p>
</div>
</div>

</footer>



</body>
</html>
