<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>To Travel is To Live</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body >
<header id="head">
<div id="title">
<marquee behavior="slide"><h1>To Travel is 
to Live </h1></marquee>


</div>

</header>
<boxone id="boxo12">
<h1 id="fontco">日本</h1>
<div id="maintitle">
<a href="aboutus.html">
<img src="../image/tour.png" /></a>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="places.html">
<img src="../image/country.png" /></a>
&nbsp;&nbsp;&nbsp;
<a href="Route.html">
<img src="../image/routine.png"</a>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="Team.html">
<img src="../image/team.png" /></a>
&nbsp;&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;
<a href="Service.html">
<img src="../image/service.png" /></a>
</div>
<div id="aligimg1">
<a href="aboutus.html">&nbsp;&nbsp;&nbsp;Homes</a>

<a href="places.html">&nbsp;&nbsp;&nbsp;Places</a>
 <a href="Route.html">&nbsp;&nbsp;&nbsp;Route</a>
<a href="Team.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Travelers</a>

<a href="Service.html">&nbsp;&nbsp;&nbsp;Service</a>

</div>

<div id="Ussight1">
<img id="usposition" src="../image/Ja1.png" />
<div id="word1">
<p>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;富士山在日语中的意思是“火山”，它海拔3776米，面积为90.76平方公里，屹立于本州中南部，跨静冈、山梨两县，东距东京80公里。是日本国内的最高峰，也是是世界上最大的活火山之一，目前处于休眠状态，但地质学家仍然把它列入活火山之类。这座被日本人奉为“圣岳”的山峰自781年有文字记载以来，共喷发了18次，最后一次喷发是在1707年，此后休眠至今。山顶上的两个火山口形成了两个美丽的火山湖，山麓处还有火山喷发后留下了千姿百态的山洞，有些仍在不断喷气。富岳风穴内的洞壁上则结满了钟乳石似的冰柱，被称为“万年雪”。0富士山四周有剑峰、白山岳、久须志岳、大日岳、伊豆岳、成就岳、驹岳和三岳等“富士八峰”。富士山有4个主要登山口，分别为富士宫口、须走口、御殿场口、富士吉田（河口湖）口，其中前三个在静冈县内。坐落在顶峰上的圣庙──久须志神社和浅间神社是富士箱根伊豆国立公园的主要风景区，也是游人常到之地南麓是一片辽阔的高原牧场，草如茵，从东京都厅观景台眺望，在天气晴好时，可以看到富士山的优美景色。

</p>
</div>
</div>
<div id="Ussight2">
<img id="usposition" src="../image/Ja2.png" />

<div id="word">
<p>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;东京（Tokyo）是日本国的首都，是亚洲第一大城市，世界第二大城市。全球最大的经济中心之一。东京的著名观光景点有东京铁塔、皇居、国会议事堂、浅草寺、浜离宫、上野公园与动物园、葛西临海公园、台场与彩虹大桥、东京迪士尼乐园、代代木公园、日比谷公园、新宿御苑、幕张奥特莱斯（outlets）、奥多摩湖、Hello kitty 乐园、明治神宫、忍野八海、池袋、上野公园、东映动漫Gallery、涩谷、升仙峡、丰田汽车会馆、筑地市场、千鸟之渊、秋叶原、二重桥、隅田公园、滨离宫庭园 Tsukiji鱼市等。比较有特色的比赛有棒球和相扑，看棒球可以到后乐园站的东京球场，那里是东京巨人队上野附近集中了如日本的传统剧场、东京国立美术馆、国立科学博物馆、国立西洋美术馆、东京都美术馆等。在银座和新宿的主街道，到了星期天，禁止车辆通行，那里就成了步行者的天堂，卖艺或公演的街头艺术家、出售各种手工制品的各国小贩、在街上玩耍的年轻人，各色人等、五花八门。</p>
</div>
。
</div>
<div id="Ussight3">
<img id="usposition"  src="../image/Ja3.png" />
<div id="word">
<p>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;大阪位于日本的中西部、近畿地方的中央，虽然其面积在日本全国的都道府县中最小，但人口与人口密度却仅次于首都东京，为全国第二位。它的三面被山地所围，西部面临呈弓形的大阪湾。因为这里靠近日本的古都京都和奈良，所以作为水陆交通的要冲以及商业城市而迅速发展繁荣起来。大阪市内有大阪城，它以 5 层的望楼天守阁为中心，有 6 万平方米左右的草坪公园，一到春天樱花盛开的季节，来这里赏花的游人摩肩接踵，络绎不绝。在大阪的北大门──梅田，有许多大型地下街，街上饮食店、流行商品专卖店和杂货铺鳞次栉比。以梅田为中心的一带地区被称为“北”；以难波和道顿堀为中心的一带地区被称为“南”。 难波是充满平民气氛的繁华街区，道顿堀是道顿堀川两岸饮食店林立的一个区域。南是著名的娱乐区，这里集中了许多剧场和电影院。
</p>
</div>

</div>
<div id="Ussight4">
<img id="usposition" src="../image/Ja4.png" />

<div id="word">
<p>
<br />
被誉为亚洲第一游乐园的东京迪斯尼乐园，依照美国迪斯尼乐园而修建，是目前世界上最大的迪斯尼乐园。它的主题乐园面积为七八十公顷。比美国本土的两个迪斯尼乐园还要大。东京迪斯尼乐园主要分为世界市集、探险乐园、西部乐园、新生物区、梦幻乐园、卡通城及未来乐园等7个区，园内的舞台以及广场上定时会有丰富多彩的化装表演和富趣味性的游行活动。在迪斯尼正门的中心，可以看到高耸的“灰姑娘城”这座主建筑，然后在它的周围还建造了多种主题的游乐场和游乐馆，有冒险宫、世界著名故事、传说宫、有风景宫、闲游宫、宇宙宫、幻想宫等。
</p>
</div>
</div>
</boxone>



<div style="clear:both"></div>



<footer id="foot">
<div id="borderline">
<div id="logo">
<h3>THANKS FOR VISITING US</h3>
</div>


<div id="logo1">
<h3>&nbsp;&nbsp;Contact Us</h3>
</div>

<div id="logo2"
<h3>&nbsp;&nbsp;Support Us</h3>
</div>
<div class="foottext">
<p>摘要观光旅游是旅游最基本的活动内容。比如看名胜古迹、文化遗迹、城市美景和风俗。游客观光可以改变环境，拓宽视野，欣赏自然之美，自然享受现代都市生活的情趣，满足不同购物的需求，在许多方面和目的上都是如此。欢迎大家来到这里。</p>
</div>

<div class="log1image">

</div>


<div class="log1">
<p> 77 Jack Street

   Chicago, USA></p>
</div>


<div class="log2image"></div>

<div class="log2">
<p>+13333333333

   +15666666666</p>
</div>
<div class="log3image"></div>
<div class="log3">
<p> Liming@qq.com

   Limingg@qq.com</p>
</div>
</div>

</footer>



</body>

</html>

