<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>To Travel is To Live</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body >
<header id="head">
<div id="title">
<marquee behavior="slide"><h1>To Travel is 
to Live </h1></marquee>


</div>

</header>


<boxone id="boxo12">
<h2 id="fontco">韩国</h2>
<div id="maintitle">
<a href="aboutus.html">
<img src="../image/tour.png" /></a>

&nbsp;&nbsp;&nbsp;
&nbsp;
<a href="places.html">
<img src="../image/country.png" /></a>

&nbsp;&nbsp;&nbsp;
&nbsp;
<a href="Route.html">
<img src="../image/routine.png"</a>



&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="Team.html">
<img src="../image/team.png" /></a>

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="Service.html">
<img src="../image/service.png" /></a>
</div>
<div id="aligimg1">
<a href="aboutus.html">&nbsp;&nbsp;&nbsp;Homes</a>

<a href="places.html">&nbsp;&nbsp;&nbsp;Places</a>
 <a href="Route.html">&nbsp;&nbsp;&nbsp;Route</a>
<a href="Team.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Travelers</a>

<a href="Service.html">&nbsp;&nbsp;&nbsp;Service</a>

</div>

<div id="Ussight1">
<img id="usposition" src="../image/han1.jpg" />
<div id="word">
<p>
&nbsp;&nbsp;&nbsp;&nbsp;雪岳山国立公园是位于韩国最北部的国家公园，从首尔乘坐高速巴士大约3个多小时就能到达。雪岳山被称为雪山、雪峰山，由于积雪长年不化，所以被称为雪岳。 雪岳山地跨江原道束草市、麟蹄郡、高城郡、襄阳郡等四个市郡。以最高峰海拔1708米的大青峰为中心，东面（束草市、高城郡、襄阳郡）称外雪岳，西面（麟蹄郡）为内雪岳。 雪岳山拥有奇石怪松、各种树种的森林、大型瀑布、在狭长的山谷中奔腾的溪流、神秘的古庙以及纯净的空气。秋天可以去赏丹枫，冬天可以去赏白雪，一年四季景色怡人。不管你是乘缆车观光，还是选择沿溪谷徒步、体会岩石峭壁绝美景色的登山路线，这里有多种种类的路线供你挑选，让你欣赏到不同的自然美景。 雪岳山的入口共有四个，其中束草市的新兴寺最为有名。另外三个入口则为襄阳郡的五色区域、麟蹄郡的百潭寺和将帅台一带。 若不是专门的登山者，一般建议游览外雪岳区域，起点为雪岳洞探访支援中心（也就是有“雪岳山新兴寺”山门的这个入口），门口有标准性的雕塑雪岳熊，可以拍照留影。
</p>
</div>
</div>
<div id="Ussight2">
<img id="usposition" src="../image/han2.png" />

<div id="word">
<p>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;济州岛的汉拿山位于岛屿中央，是韩国最高的山峰，济州岛北部有万丈窟、济州民俗博物馆等景点，靠海处散落着龙头岩和不少海水浴场、海滩。城山邑中部有别具特色的民俗村，东面临海处的城山日出峰和涉地岬也是观赏海景的好去处。从城山坐船可到牛岛游玩。
西归浦市内有着自然修养林和中文旅游区。这里有大小洞穴近十个、天帝渊瀑布、天地渊瀑布、正房瀑布和泰迪熊博物馆等景点，柱状节理带也别具特色。南面还有不少小离岛，如加波岛、马罗岛等，可乘船前往游玩。</p>
</div>
。
</div>
<div id="Ussight3">
<img id="usposition"  src="../image/han3.jpg" />
<div id="word">
<p>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;素有韩国故宫之称的景福宫坐落于繁华的首尔市中心的一角，距今已有600多年历史，是朝鲜建国初期建造的第一座宫殿，规模为五大宫之首。得名于《诗经》“君子万年，介尔景福”，因位于首尔北部，也叫“北阙”。景福宫以近两百座殿阁的瑰丽建筑承载了朝鲜王朝二十几代大王的骄傲和悲伤。直到明成皇后被杀时，当时的高宗大王因为过度悲伤而搬离景福宫，这里的风光才稍稍寥落。如今景福宫的大部分建筑，已在1592年的壬辰倭乱时被焚毁。现在见到的，大部分是其后修建的，其中得以保存最完整的只有勤政殿、庆会楼和香远池了。在这里一年四季都能欣赏到不同的美景，可以让你大饱眼福。乘地铁3号线到景福宫站，从5号出口出来后，映入眼帘的就是兴里门和光化门之间那个大广场，这一瞬简直就像是穿越到了古代一样。</p>
</div>

</div>
<div id="Ussight4">
<img id="usposition" src="../image/han4.jpg" />

<div id="word">
<p>
<br />
在汝矣岛，有一条长达5700米，种植着1400多株樱花的樱花大道。每年4月都会举行首尔最著名的樱花节。届时，道路两边布满小吃摊及各种展览和表演，形成一派热闹景象，一边欣赏樱花飘落，一边观看各种韩国特有的民俗表演。 每年的樱花节都是首尔市民翘首以盼的一段日子，他们会把这一天当做节日来过，每年的樱花节都会持续一周左右，直到樱花全部凋谢。 当从地铁站出来就能看到IFC MALL，一路都能看到樱花节的指引牌，顺着方向走出来，对面就是汝矣岛公园，整个公园都弥漫着粉色的气息，从公园左拐直到汉江的江边，就能看到樱花大道了，两边全是盛放的樱花，非常漂亮。 一路欣赏过来，路两边会有各种各样的小汽车上卖着不同的食物。走到樱花大道的中间，甚至会看到各种表演，各种商圈。这条路很长，人又多，经常会堵在那里，如果不想继续走了，也可以到旁边的汉江公园休息，韩国人非常喜欢带着毯子和食物一家人到江边野餐，如果你们没有自备零食不要紧，路上会有很多发宣传单的，他们都是公园附近的餐厅，免费送到你所在的位置。。
</p>
</div>
</div>
</boxone>



<div style="clear:both"></div>



<footer id="foot">
<div id="borderline">
<div id="logo">
<h3>THANKS FOR VISITING US</h3>
</div>


<div id="logo1">
<h3>&nbsp;&nbsp;Contact Us</h3>
</div>

<div id="logo2"
<h3>&nbsp;&nbsp;Support Us</h3>
</div>
<div class="foottext">
<p>摘要观光旅游是旅游最基本的活动内容。比如看名胜古迹、文化遗迹、城市美景和风俗。游客观光可以改变环境，拓宽视野，欣赏自然之美，自然享受现代都市生活的情趣，满足不同购物的需求，在许多方面和目的上都是如此。欢迎大家来到这里。</p>
</div>

<div class="log1image">

</div>


<div class="log1">
<p> 77 Jack Street

   Chicago, USA></p>
</div>


<div class="log2image"></div>

<div class="log2">
<p>+13333333333

   +15666666666</p>
</div>
<div class="log3image"></div>
<div class="log3">
<p> Liming@qq.com

   Limingg@qq.com</p>
</div>
</div>

</footer>



</body>
</html>
