<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>To Travel is To Live</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body >
<header id="head">
<div id="title">
<marquee behavior="slide"><h1>To Travel is 
to Live </h1></marquee>


</div>

</header>


<boxone id="boxo13">

<div id="maintitle">
<a href="aboutus.html">
<img src="../image/tour.png" /></a>


&nbsp;&nbsp;
<a href="places.html">
<img src="../image/country.png" /></a>
&nbsp;&nbsp;

&nbsp;&nbsp;
<a href="Route.html">
<img src="../image/routine.png"</a>



&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;
<a href="Team.html">
<img src="../image/team.png" /></a>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="Service.html">&nbsp;
<img src="../image/service.png" /></a>
</div>

<div id="aligimg1">
<a href="aboutus.html">&nbsp;&nbsp;&nbsp;Homes</a>

<a href="places.html">&nbsp;&nbsp;&nbsp;Places</a>
 <a href="Route.html">&nbsp;&nbsp;&nbsp;Route</a>
<a href="Team.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Travelers</a>

<a href="Service.html">&nbsp;&nbsp;&nbsp;Service</a>

</div>
<div id="Ussight1r">
<h1><img   src="../image/dot.png" />旅行攻略</h1>
<br /><img id="lan"  src="../image/map.png" />
<div id="mention1">
<p>
<h3 id="pp">&#8226;制定路线和旅程</h3>
1、首先，确定你要去的国家。查找你想要目的地的旅游景点信息，结合推荐点评和自己的兴趣，初步列出你的目标景点。<br />
2、请按当地风俗穿着打扮，无论是独自一人还是一群人一同出游,能保障你安全的秘诀之一就是要融入当地生活。
<br />3、到达某一个地点后，请根据自己指定的计划准备自驾游或者其他出行方式，时刻记住安全第一位。</p>
<h3  id="pp">&#8226;旅行前准备</h3>
 <p>1、证件类 身份证（国内航班用） 护照（国际航班用） 港澳通行证 相片一寸二寸各2张（证件丢失时补办）
 <br />2、行李类 一定要谨记不要戴超重的行李箱，外出游玩一定轻松舒适。
</p>
<h3  id="pp">&#8226;美食计划</h3>
 <p>1、对我们来说，出去游玩最重要一点就是尝遍天下美食，但是我们也要做好攻略，尽量挑选我们喜欢并且可以负担的食物。
 <br />2、根据预算和自己的兴趣，查当地美食、购物计划。
<br />3、必要携带一些药品，以备生病。
</p>
</div>
</div>
<div id="Ussight3r">
<h1><img src="../image/dot.png" />酒店预订</h1>
<br /><img  id="lan" src="../image/hotelhouse.png" />
<div id="mention2">
<p>
<h3  id="pp">&#8226;筛选符合自己经济条件的酒店</h3>
<p>1、平台上一般都有酒店条件的筛选，因此，勾选你所需要的条件，例如4星级酒店还是3星级酒店
</p><br />
<h3  id="pp">&#8226;搜索、了解有哪些酒店</h3>
<p>1、网上有许多在线酒店预订平台，通过百度搜索可以很快找到。找家资料全，信誉好，人气旺的平台，输入目的地及入住的具体日期及入住的天数，就可以看到很多酒店的资料。
</p><h3  id="pp">酒店与风景点之间的关系</h3>
<br />
<p>
1、酒店与风景点是否在一个区域？
2、两者之间的距离有多远

3、两者之间的交通状况和交通花费如何？


</p><h3  id="pp">&#8226;搜索、了解有哪些酒店</h3>
<br />
<p>
网上有许多在线酒店预订平台，通过百度搜索可以很快找到。找家资料全，信誉好，人气旺的平台，输入目的地及入住的具体日期及入住的天数，就可以看到很多酒店的资料。


</p><h3  id="pp">&#8226;酒店与风景点之间的关系</h3>
<br />
<p>
1、酒店与风景点是否在一个区域？

2、两者之间的距离有多远

3）两者之间的交通状况和交通花费如何？


</p>
</div>
</div>


<div id="Ussight2r">
<h1><img src="../image/dot.png" />机票查询</h1>
<br /><img id="lan"src="../image/plan.png" />
<div id="mention2">
<p>
<h3 id="pp">&#8226;购票攻略</h3>
1、上淘票网淘票，虽然他们没有诚信，但是价格确实低，但是请记住，不要付钱买票。你可以先预定。然后取消，再登陆航空公司官网，你会发现那张取消的票又刷出来，也是同样的低价，可以在官网购买。
<br />
2、用里程来换购机票，很多经常出差的朋友因为飞机里程数比较多，用不完。或者平时都有报销，所以他们会把自己的里程拿出来卖。
<br />3、飞到目的地附近，再转车或转机，价格一样很便宜</p>

</p></div>

<div id="flycorporation">
<a href="http://www.airchina.com.cn/">
<p >&nbsp;&nbsp;<img src="../image/circlre1.png" />中国国际航空公司</p></a>
<a href="http://www.ceair.com.cn/">
<p>&nbsp;&nbsp;<img src="../image/circlre1.png" />深圳航空公司</p></a>
<a href="http://www.shenzhenair.com.cn/">
<p>&nbsp;&nbsp;<img src="../image/circlre1.png" />东方航空公司</p></a>
<a href="http://www.hnair.com.cn/">
<p>&nbsp;&nbsp;<img src="../image/circlre1.png" />海南航空公司</p></a>
</div>


</div>

<div id="Ussight4r">

<h1><img src="../image/dot.png" />开启你的发现之旅</h1>
<br /><img id="lan" src="../image/play.png" />
<div id="mention3">
<p>
<h3 id="pp">&#8226;购票攻略</h3>
1、上淘票网淘票，虽然他们没有诚信，但是价格确实低，但是请记住，不要付钱买票。你可以先预定。然后取消，再登陆航空公司官网，你会发现那张取消的票又刷出来，也是同样的低价，可以在官网购买。
<br />
2、用里程来换购机票，很多经常出差的朋友因为飞机里程数比较多，用不完。或者平时都有报销，所以他们会把自己的里程拿出来卖。
<br />3、飞到目的地附近，再转车或转机，价格一样很便宜</p>

</p>


</div>
</div>

</boxone>



<div style="clear:both"></div>



<footer id="foot">
<div id="borderline">
<div id="logo">
<h3>THANKS FOR VISITING US</h3>
</div>


<div id="logo1">
<h3>&nbsp;&nbsp;Contact Us</h3>
</div>

<div id="logo2"
<h3>&nbsp;&nbsp;Support Us</h3>
</div>
<div class="foottext">
<p>摘要观光旅游是旅游最基本的活动内容。比如看名胜古迹、文化遗迹、城市美景和风俗。游客观光可以改变环境，拓宽视野，欣赏自然之美，自然享受现代都市生活的情趣，满足不同购物的需求，在许多方面和目的上都是如此。欢迎大家来到这里。</p>
</div>

<div class="log1image">

</div>


<div class="log1">
<p> 77 Jack Street

   Chicago, USA></p>
</div>


<div class="log2image"></div>

<div class="log2">
<p>+13333333333

   +15666666666</p>
</div>
<div class="log3image"></div>
<div class="log3">
<p> Liming@qq.com

   Limingg@qq.com</p>
</div>
</div>

</footer>



</body>
</html>

