<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>To Travel is To Live</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<header id="head">
<div id="title">
<marquee behavior="slide"><h1>To Travel is 
to Live </h1></marquee>


</div>

</header>


<boxone id="boxo">
</br></br></br></br>


<div>

<h1 align="left"> &nbsp;&nbsp;&nbsp;&nbsp;旅行日记</h1>
<table width="300" border="5" bordercolor="#0066CC" height="300" >

  <tr>
    <td id="introduce" >&nbsp;<a href="#a"><li>&nbsp;行前准备与注意事项</li></a></td>
  </tr> 
  <tr>
    <td id="introduce"><a href="#b"><li>&nbsp;制定旅程和路线</li></a></td>
  </tr>
  <tr>
    <td id="introduce">&nbsp;<a href="#c"><li>&nbsp;预订旅馆</li></a></td>
  </tr>
   <tr>
    <td id="introduce">&nbsp;<a href="#d"><li>&nbsp;旅行必备</li></a></td>
  </tr>
</table>

</div>
<div id="maintitle">
<a href="aboutus.html">
<img src="../image/tour.png" /></a>

&nbsp;&nbsp;&nbsp;

<a href="places.html">
<img src="../image/country.png" /></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<a href="Route.html">
<img src="../image/routine.png"</a>

&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;


<a href="Team.html">
<img src="../image/team.png" /></a>
&nbsp;&nbsp;&nbsp;

<a href="Service.html">
<img src="../image/service.png" /></a>
</div>



<div id="aligimg">
<a href="aboutus.html">&nbsp;&nbsp;&nbsp;Homes</a>

<a href="places.html">&nbsp;&nbsp;&nbsp;Places</a>
 <a href="Route.html">&nbsp;&nbsp;&nbsp;Route</a>
<a href="places.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team</a>

<a href="Service.html">&nbsp;&nbsp;&nbsp;Service</a>

</div>
<div id="notice1">


<img id="nn1" src="../image/g11.jpg" />

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br />
<a id="pp" name="a" >&nbsp;&nbsp;<img src="../image/mention.png" />注意事项 </a>
<br />
<p>
1.请拒绝"玩的就是心跳"
去其攀岩看日出听起来可能是个很精彩的故事,但一个人出游,一旦受伤了,你可能连讲故事的小命都没了。极限运动还是留到有伴儿的时候再玩吧。另外,请给自己上一份旅游保险以防万一。
</p>
<p>
2.请保持联系
请至少告诉一个亲人或朋友你住在什么酒店,你要去的下一个城市是哪里。请多给亲朋好友发邮件,让他们知道你过得如何。请千万不要因为在旅途中认识了新朋友,就减少了和亲朋好友的联系。请不要吝啬,多在网上分享旅途中让人羡慕嫉妒恨的美照。
</p>
<p>

3.请勿声张"独游"状态
独自出游确实是个很勇敢的决定,这当然是一件值得炫耀的事。但请把你的故事留给熟知的亲朋好友,而不是酒吧里素不相识的人。让陌生人知道你独自一人可不是什么好事,万一你遇见了坏人,则很有可能"独自一人"身陷险境。

</p>
<p>
4.请按当地风俗穿着打扮
无论是独自一人还是一群人一同出游,能保障你安全的秘诀之一就是要融入当地生活。不合风俗的打扮只会增加你的"游客风情"(当然,如果你还拿着一张地图就更像游客了)。在去一个地方之前,请先了解当地的风俗习惯,并尊重这些风俗习惯。
</p>
<p>
5.待人待事心态开放
请多和其他旅行者或当地居民交流,交换有用的情报,比如哪里的青年旅社好,哪里提供住宿和早餐,形成互助的氛围。你也可以多和旅社的老板聊天,了解关于团体活动的情况。如果你热爱奉献,当志愿者是一个结识当地居民的好方法。
</p>

<br />
<a id="pp" name="a" >&nbsp;&nbsp;<img src="../image/start.png" />行前准备 </a>

<p>
1.证件类
身份证（国内航班用）
护照（国际航班用）
港澳通行证（含一次澳门有效签注，回国时顺道去澳门）
相片一寸二寸各2张（证件丢失时补办）
</p>

<p>
2.药品类：
眼药水
云南白药（扭伤，摔伤）
上清片
善存，维生素E，维生素C（晒伤之后，补充些抗氧化剂，能恢复得快一点儿）
维生素B（口腔溃疡）
晕海灵
红药水，创可贴，棉签（浮潜或者在海里玩儿的时候，可能会被划伤或咬伤）
感冒退热颗粒
人丹
</p>
<p>
3.资料类：
旅游英语
身份证，护照，港澳通行证的复印件（有些地方要求护照做抵押，尽量用复印件代替）
机票预定证明；酒店预订证明
电子保险单复印件（平安银行的交通意外险，保单在家里留一份）
</p>
<br />
<a id="pp" name="b" >&nbsp;&nbsp;<img src="../image/route.png"/>制定路线和旅程 </a>
<p>
1、查目的地的旅游景点信息，结合推荐点评和自己的兴趣，初步列出你的目标景点；</p>
<p>
2、根据自己方便的时间和大致预算金额确定自己的行程日期，订往返交通票；</p>
<p>
3、根据行程长短，结合1中的目标景点进行二次筛选，可以根据时间添加或删减旅游景点；</p>
<p>
4、计算筛选景点计算门票和路程费用，看是否超出自己的心理价位预算；</p>
<p>
5、根据所选景点范围在附近挑选地理位置合适、价格符合心理价位的住所，订住处；</p>
<p>
6、根据预算和自己的兴趣，查当地美食、购物计划。
</p>
<br />
<a id="pp" name="c" >&nbsp;&nbsp;<img src="../image/hote.png" />预订旅馆 </a>

<p>1.预订 所有的全国连锁类酒店都是可以网上。这是由于快捷酒店在网络上开放预订决定的，不像传统，只要你占着房子你就可以一直住。其他的，比如你
有什么要求，预订的时候都可以反应给酒店。</p> 
<p>2.办理入住。酒店正常入住是第一天退房时间到第二天退房时间。一般是12点。所以如果你到的很早，要提前打电话问有没有空房，不然就只能在大堂默默地等待。 
<p>3.选房如果有尽量选有窗户的,你定的没窗户的就不说了。快捷酒店的旧楼改造,会让很多房间处于楼的中心位置。没有窗户，会特别闷。</p> 
<p>4无论选什么类型的酒店,最重要的部分,是床上用品。那是一晚上接触最多的东西。所以当你发现床上用品有异常的话,一定要及时的更换。不然起疹子,过敏就不好说
了.布草洗涤用的都是强酸强碱,中和的不好的话会有残留的。当然其他物件要是卫生不过关也是要换的。 
</p>
<br />
<a id="pp" name="d" >&nbsp;&nbsp;<img src="../image/bag.png" />旅行必备 </a>

<p>
一、身体准备
<br />
1、最好提前3-4周进行身体锻炼，每天慢跑或爬楼梯是最佳方式；
<br />2、应提前两周服用藏药红景天制品，以提高血液的吸氧能力；
<br />3、体质较弱或近期身体状况感觉不好的人最好到医院进行身体常规检查，确保身体良好；
<br />4、良好的心态、充足的精力和健康的身体是在高原获得最大快乐的基础。
<br />
二、个人物品准备
<br />1、单反相机最佳，带脚架、偏振镜、两块电池；
<br />2、笔记本电脑、移动硬盘（用于照片转存）；
<br />3、若多车出行，每车配一部对讲机（车载电台更佳）；
<br />4、车载充电器（150W以上）、数码产品的备用电池；
<br />
四、证件：
<br />1、身份证、护照、驾驶证、行驶证、学生证等有效身份证件；
<br />2、汽车保险卡单（车辆要投保交强险、第三者责任险和车辆损失险）；
<br />3、边境通行证.泉河、普兰等边境地区。



</p>




</div>

</boxone>





<div style="clear:both">
</div>



<footer id="foot3">
<div id="borderline">
<div id="logo">
<h3>THANKS FOR VISITING US</h3>
</div>


<div id="logo1">
<h3>&nbsp;&nbsp;Contact Us</h3>
</div>

<div id="logo2"
<h3>&nbsp;&nbsp;Support Us</h3>
</div>
<div class="foottext">
<p>摘要观光旅游是旅游最基本的活动内容。比如看名胜古迹、文化遗迹、城市美景和风俗。游客观光可以改变环境，拓宽视野，欣赏自然之美，自然享受现代都市生活的情趣，满足不同购物的需求，在许多方面和目的上都是如此。欢迎大家来到这里。</p>
</div>

<div class="log1image">

</div>


<div class="log1">
<p> 77 Jack Street

   Chicago, USA></p>
</div>


<div class="log2image"></div>

<div class="log2">
<p>+13333333333

   +15666666666</p>
</div>
<div class="log3image"></div>
<div class="log3">
<p> Liming@qq.com

   Limingg@qq.com</p>
</div>
</div>

</footer>




</body>
</html>
