<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>To Travel is To Live</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<style type="text/css">
</style>

<link href="../style.css" rel="stylesheet" type="text/css" />
</head>

<body >
<header id="head">
<div id="title">
<marquee behavior="slide"><h1>To Travel is 
to Live </h1></marquee>


</div>

</header>


<lefter id="top1">



<div class="pla">
<h1 ><br />Destinations</h1>

<div id="maintitle">
<a href="aboutus.html">
<img src="../image/tour.png" /></a>

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="places.html">
<img src="../image/country.png" /></a>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="Route.html">
<img src="../image/routine.png"</a>


&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<a href="Team.html">
<img src="../image/team.png" /></a>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a href="Service.html">
<img src="../image/service.png" /></a>
</div>

<div id="aligimg1">
<a href="aboutus.html">&nbsp;&nbsp;&nbsp;Homes</a>

<a href="places.html">&nbsp;&nbsp;&nbsp;Places</a>
 <a href="Route.html">&nbsp;&nbsp;&nbsp;Route</a>
<a href="Team.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Travelers</a>

<a href="Service.html">&nbsp;&nbsp;&nbsp;Service</a>

</div>


<div id="place1"><img src="../image/place1.png" />
<h2 align="center"><br />圣托里尼岛<br />Santorini</h2>
<br /><br /><br /><p>Santorini was named Thera. Later, in memory of SaintIrene, it was changed to Santorini in the 1207 . Santorini is a group of volcanoes on  the Aegean sea, 200 kilometers  southeast of the Greek mainland, and the largest island in the ring of    Santorini is also known as the island of Santorini, so it also called Thira.</p>

</div>
<div id="place2"><img src="../image/place2.png" />

<h2 align="center"><br />迪拜帆船酒店<br />TripAdvisor</h2>
<br /><br /><br /><p>The De La Tour Hotel Arabia, located in dubai bay, is famous for its resplendent splendor and extravagance. Burj al Arab hotel, just like the sails, also known as dubai sailing hotel,  only by a winding road links the land,the edge of the top of the hotel has a construction out of the cantilever beam structure of the apron.</p>
</div>
<div id="place3"><img src="../image/place4.png" />
<h2 align="center" ><br />西班牙圣胡安<br />Gaztelugatxe</h2>
<br /><br /><br /><p>The Bueren mountain staircase in Belgium
The patriots marched up the stairs to overthrow his rule in the malevolent duke of Burgundy 1,400 years ago. Although they have failed, please climb this staircase to find their feet,so this is the best spot for you to take plenty of beautiful photos of Gaztelugatxe.</p>
</div>
<div id="place4"><img src="../image/place3.png" />
<h2 align="center"><br />Shanghai<br />Night Scene</h2>
<br /><br /><br /><p>Take a relaxing walk on the walking corridor along the Bund. Or you can drive along the Huangpu river bank and stop by the end of the Bund near the Russian Consulate.where you can overlook the Oriental Pearl TV Tower on the opposite bank. You are not able to take good photos on board a cruise, so this is the best spot for you to take plenty of beautiful photos of Shanghai. </p></div>
</div>



</lefter>

<righter id="right">
<h1 >Latest News</h1>

<div id="france">
<h3 ><br /> 10.00 - 12.00 | sep 24,2014</h3>
<h2 > Eiffel Tower</h2>
<img src="../image/francesite1.jpg" />
<div id="franceword"><p>France, Eiffel Tower is the world famous buildings, it is also one of the French cultural symbol, city landmark in Paris, one of the highest building in Paris, 300 meters high, antenna 24 metres high, total is 324 meters high, built in 1889, it gets its name from the design of the famous architect, structural engineer gustave Eiffel. The design of the tower is novel and unique. It is a technical masterpiece in the history of world architecture. It is an important attraction and prominent symbol in Paris.The Eiffel Tower experienced a hundred years of rain and rain, but it still stands tall on the Banks of the Seine after the great repair in the early 1980s. It is the pride of all the French people and the world.</p>
<a href="france.html"><br />Read More>></a>
</div>


</div>
<div id="US">

<h3 ><br /> 8.00 - 10.00 | sep 23,2015</h3>
<h2 >Hawaii</h2>
<img src="../image/USbeach.jpg" />
<div id="Hawaiiword">
<p>A cluster of islands in the middle of the Pacific Ocean is Hawaii, Hawaii, which is located in Oceania.
Hawaii is composed of more than one hundred islands, from northwest to southeast eight hundred and forty kilometers long, land area of sixteen thousand seven hundred and five square kilometers, population 1285498 (2006). In 1898, it became a dependency of the United States. August 1959 became a state in the United States
Pacific waters around Hawaii, mild climate, abundant rainfall, especially suitable for the growth of sugarcane.Islands, two thirds of the land to grow sugar cane, produce about one million tons of raw sugar each year.Equivalent to one over ten of America's current annual total sugar consumption, therefore is called sugar island in the United States.</p>
<a href="America.html"><br />Read More>></a>
</div>
</div>

<div id="Itlay">

<h3 ><br /> 12.00 - 15.00 | sep 26,2017</h3>
<h2 >Florence</h2>
<img src="../image/Itlay1.jpg" />
<div id="Itlayword">
<p>Florence is a city in central Italy, the capital of Tuscany, in the foothills of the middle of the apennines. From the 15th to the 16th century, Florence was the most famous art center in Europe, which was famous for its fine arts and crafts and textiles. The birthplace of the European Renaissance movement, the world-famous cultural tourist attraction. 1865-1871 was the interim capital of the United Kingdom of the kingdom of Italy. The industry is mainly glass ware, ceramics, advanced clothing and leather. Gold and silver processing, artistic reproduction and other handicrafts are also very famous. Florence international contemporary art biennale, the Venice biennale, milan's three - year exhibition and the three Italian art exhibitions.</p>
<a href="Itlay.html"><br />Read More>></a>
</div>
</div>
</righter>


<div style="clear:both"></div>
<footer id="foot1">
<div id="borderline">
<div id="logo">
<h3>THANKS FOR VISITING US</h3>
</div>


<div id="logo1">
<h3>&nbsp;&nbsp;Contact Us</h3>
</div>

<div id="logo2"
<h3>&nbsp;&nbsp;Support Us</h3>
</div>
<div class="foottext">

<p>Sightseeing tourism is the most basic activity content of tourism. Such as looking at exotic places of interest, cultural relics, urban beauty and customs. Tourists sightseeing can achieve changes in the environment, broaden horizons, appreciate the beauty of nature, nature to enjoy the appeal of the modern city life and meet the needs of different shopping and so on many aspects and purpose. Welcome to  here all of you.</p>
</div>

<div class="log1image">

</div>


<div class="log1">
<p> 77 Jack Street

   Chicago, USA></p>
</div>


<div class="log2image"></div>

<div class="log2">
<p>+13333333333

   +15666666666</p>
</div>
<div class="log3image"></div>
<div class="log3">
<p> Liming@qq.com

   Limingg@qq.com</p>
</div>
</div>

</footer>





</body>



</html>
